<h2>Books</h2>

<div class="book-container">
@for (book of books; track book.id) {
  <div class="book-card">
    <p class="title">{{ book.title }}</p>
    <p class="author">{{ book.author }}</p>
    <label>
      <input type="checkbox" [(ngModel)]="book.read" />
      Read
    </label>
    <button (click)="showModal(book)">Update</button>
    <button (click)="deleteBook(book.id)">Delete</button>
  </div>
}
</div>



@if (selectedBook) {
    <div class="modal-backdrop">
      <div class="modal">
        <form class="form">
          <input type="text" name="title" required [(ngModel)]="selectedBook.title" placeholder="Title" ngModel/>
          <input type="text" name="author" required [(ngModel)]="selectedBook.author" placeholder="Author" ngModel/>
          <label>
            <input type="checkbox" name="read" [(ngModel)]="selectedBook.read" ngModel/>
            Read
          </label>
        </form>
        <button class="submit-btn" (click)="submitUpdate()">Submit</button>
        <button (click)="selectedBook = null">Close</button>
      </div>
    </div>
  }
