<h2>Books</h2>

<div class="book-container">
@for (book of books; track book.id) {
  <div class="book-card">
    <p class="title">{{ book.title }}</p>
    <p class="author">{{ book.author }}</p>
    <label>
      <input type="checkbox" [(ngModel)]="book.read" />
      Read
    </label>
    <button (click)="showModal(book)">Update</button>
    <button (click)="deleteBook(book.id)">Delete</button>
  </div>
}
</div>

<h3>Add Book</h3>
<input [(ngModel)]="newBook.title" placeholder="Title" />
<input [(ngModel)]="newBook.author" placeholder="Author" />
<label>
    <input type="checkbox" [(ngModel)]="newBook.read" />
    Read
</label>
<button (click)="addBook()">Add</button>

@if (selectedBook) {
    <div class="modal-backdrop">
      <div class="modal">
        <form>
          <input
            type="text"
            name="title"
            required
            [(ngModel)]="selectedBook.title"
            placeholder="Title"
            ngModel
          />
          <input
            type="text"
            name="author"
            required
            [(ngModel)]="selectedBook.author"
            placeholder="Author"
            ngModel
          />
        </form>
        <button class="submit-btn" (click)="submitUpdate()">Submit</button>
        <button (click)="selectedBook = null">Close</button>
      </div>
    </div>
  }
